<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hobom.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name="FoodApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
             
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name=".ui.FoodListActivity"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".ui.MapGroup"
            >
        </activity>
        <activity
            android:name=".ui.FoodMapActivity"
             android:launchMode="singleTop"
             android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.CameraActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AnalysisActivity"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".ui.RectQueryResultActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MoreGroup"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MoreActivity"
            android:screenOrientation="portrait"
            >
        </activity>
    <activity
            android:name=".ui.MapRouteActivity"
            android:theme="@style/Theme.CustomDialog" 
            android:launchMode="singleTop" 
            android:screenOrientation="portrait"
            />
     <activity
            android:name=".ui.DriveRouteActivity"
            android:screenOrientation="portrait"
           />
      <activity
            android:name=".ui.BusChangeActivity"
            android:screenOrientation="portrait"
            />
     <activity
            android:name=".ui.MapPointChooseActivity"
            android:screenOrientation="portrait"
           />  
          <activity
            android:name=".ui.SimpleFoodMapActivity"
            android:screenOrientation="portrait"
           />  
       <activity
            android:name=".ui.FoodDetailInfoActivity"
            android:screenOrientation="portrait"
           />             
             <activity
            android:name="com.weibo.net.ShareActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/weibosdk_ContentOverlay"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" >
        </activity>
 
       <activity android:name="org.achartengine.GraphicalActivity" />
        <provider
            android:name=".ui.SearchSuggestionProvider"
            android:authorities="com.hobom.mobile.ui.SearchSuggestionProvider" >
        </provider>
    </application>
    <!-- ************************************* -->
    <!-- 定位相关权限 -->
    <!-- ************************************* -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
 

  
 
</manifest>